body {
    width: 393px;
    height: 852px;
    margin: 0;
    overflow-x: hidden;
    background-color:#dec3c3;
}

header {
    width: 100%;
    height: 250px;
    background-color:#c49797
}

.photo {
    width: -10rem;
    height: 9rem;
    border-radius: 10%;
    margin: 10px;
    margin-top: 40px;
    border: 3px solid black;
}

h1 {
    text-align: center;
    column-count: 2;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;
    right: 10rem;
}

.container-information{
    width: 210px;
    position: relative;
    left: 11rem;
    margin-top: -15rem;
}

.container-information > h2 {
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;
}

.container-information > p {
    text-align: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
    position: relative;
    right: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects hr {
    width: 50%;
    margin: 10px;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

.projects h2 {
    text-align: center;
}
.project {
    margin-top: 10px;
    background-color: #af8484;
    color: black;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    border: 3px solid black;
}

.project img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project h3 {
    margin: 0 0 5px 0;
    font-size: 1.25em;
    font-weight: bold;
}

.project p {
    margin: 0;
    font-size: 1em;
}

.references {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.references hr {
    width: 50%;
    margin: 10px;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

.references h2 {
    text-align: center;
}
.reference {
    margin-top: 10px;
    background-color: #af8484;
    color: black;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    border: 3px solid black;
}

.reference p {
    margin: 0;
    font-size: 1em;
}

.experiences {
    text-align: center;
}

.experiences hr {
    width: 50%;
    margin: 10px;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

.experience > img {
    width: 80px;
    height: 80px;
}

.container-experiences1,
.container-experiences2 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px;
}

.experience {
    text-align: center;
}
.experience > img {
   width: 70px;
   height: 80px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border: 1px solid #0c0c0c;
    margin-top: 10px;
    border-radius: 100px;
}

.progress-bar::-webkit-progress-value {
   background-color: #c49797;
   border-radius: 100px;
}

progress::-webkit-progress-bar {
   background-color: #ecdcdc; /* Color de fondo del progress*/
   border-radius: 100px; /*Borde redondeado */
}

.footer {
    background-color:#af8484; 
    color: #FFFFFF; 
    text-align: center;  
    width: 100%;
    height: 50px;
    padding: 30px;
    margin-top: 1px; 
}

.hr1 {
    width: 50%;
    margin: 5px auto;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

@media screen and (min-width: 480px) and (max-width: 1040px) {
    header {
        width: 100vw;
    }
  
    main {
        width: 100vw;
    }

    .container-experiences1 {
        margin-left: 65px;
    }

    .container-experiences2 {
        margin-left: 65px;
    }

    hr {
        width: 30%;
        margin-right: 100%;
        
    }

    .container-information > h2 {
        align-items: center;
        margin-left: 60px;
        width: 100%;
        margin-top: auto;
    }

    .container-information > p {
        position: relative;
        margin-left: 60px;
        width: 100%;
    }

    .photo {
        margin-left: 50px;
    }

    .footer {
        width: 300%;
    } 

    .hr1 {
        position: relative;
        margin-left: 150px;
        width: 15%;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px; /* Espaciado entre las imágenes */
    }

    .red-logo {
        width: 40px; 
        height: 50px;
        left: -360px;
        position: relative;
    }

    .red-logo:hover {
        transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
        filter: brightness(1.2); /* Aumenta el brillo para mayor efecto */
        transition: transform 0.3s ease; /* Transición suave */
    }
}

@media screen and (min-width: 430px) and (max-width: 932px) {
    header {
        position: relative;
        width: 200px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
    header {
        width: 100vw;
    }
  
    main {
        width: 100vw;
    }

    .container-information > h2 {
        align-items: center;
        margin-left: 300px;
        width: 100%;
        margin-top: 15%;
    }

    .container-information > p {
        position: relative;
        margin-left: 300px;
        width: 100%;
        margin-top: auto;
    }

    .photo {
        margin-left: 200px;
    }

    h1 {
        margin-left: 100px;
    }

    .container-experiences1 {
        position: relative;
        left: 50px;
        width: 500px;
        
    }

    .container-experiences2 {
        position: relative;
        left: 50px;
        width: 500px;
    }

    .experience > img {
        width: 100px;
        height: 100px;
    }

    .footer {
        width: 300%;
    } 

    .hr1 {
        position: relative;
        margin-left: 300px;
        width: 15%;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px; /* Espaciado entre las imágenes */
    }

    .red-logo {
        width: 40px; 
        height: 50px;
        left: -200px;
        position: relative;
    }

    .red-logo:hover {
        transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
        filter: brightness(1.2); /* Aumenta el brillo para mayor efecto */
        transition: transform 0.3s ease; /* Transición suave */
    }
}

@media screen and (min-width: 480px) and (max-width: 1040px) {
    header {
        width: 100vw;
    }
}


@media screen and (min-width: 430px) and (max-width: 932px){
    header {
        width: 100vw;
    }
}


@media screen and (min-width: 975px) and (max-width: 1559px) {
    header {
        width: 100vw;
        height: 45vh;
    }

    main {
        width: 100vw;
    }

    .footer {
        width: 100vw;
    }

    .container-information > h2 {

        position: relative;
        left: 540px;
        width: 800px;
        margin-top: -400px;
        font-size: 40px;
    }

    .container-information > p {
        position: relative;
        left: 670px;
        width: 500px;
        font-size: 30px;
    }

    .photo {
        position: relative;
        left: 200px;
        width: 300px;
        height: 300px;
    }

    h1 {
        position: relative;
        left: 5px;
        font-size: 30px;
    }

    .container-experiences1 {
        position: relative;
        left: 50px;
        width: 500px;

    }

    .container-experiences2 {
        position: relative;
        left: 50px;
        width: 500px;
    }

    .experience > img {
        width: 100px;
        height: 100px;
    }


    .hr1 {
        position: relative;
        margin-left: 600px;
        width: 15%;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px; 
    }
    .red-logo {
        width: 60px; 
        height: 60px;
        left: -60px;
        position: relative;
    }

    .red-logo:hover {
        transform: scale(1.2); 
        filter: brightness(1.2); 
        transition: transform 0.3s ease; 
    }
}
