body {
    width: 393px;
    height: 852px;
    margin: 0;
    overflow: hidden;
    background-color:#dec3c3;
}

header {
    width: 100%;
    height: 250px;
    background-color:#c49797;
}

.profile-pic {
    width: 9rem;
    height: 9rem;
    border-radius: 10%;
    margin: 10px;
    margin-top: 40px;
    border: 3px solid black;
}

h1 {
    text-align: center;
    column-count: 2;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;
}

.container-information{
    width: 210px;
    position: relative;
    left: 11rem;
    margin-top: -15rem;
}

.container-information > h2 {
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
}

.container-information > p {
    text-align: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
    position: relative;
    right: 0.9rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects hr {
    width: 50%;
    margin: 10px;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

.projects h2 {
    text-align: center;
}
.project {
    margin-top: 10px;
    background-color: #af8484;
    color: black;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    border: 3px solid black;
}

.project img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project h3 {
    margin: 0 0 5px 0;
    font-size: 1.25em;
    font-weight: bold;
}

.project p {
    margin: 0;
    font-size: 1em;
}

.references {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.references hr {
    width: 50%;
    margin: 10px;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

.references h2 {
    text-align: center;
}
.reference {
    margin-top: 10px;
    background-color: #af8484;
    color: black;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    border: 3px solid black;
}

.reference p {
    margin: 0;
    font-size: 1em;
}

.experiences {
    text-align: center;
}

.experiences hr {
    width: 50%;
    margin: 10px;
    border: 0;
    border-top: 4px solid black;
    margin-top: -10px;
    box-shadow: 0 2px 4px #301f1f;
}

.experience > img {
    width: 80px;
    height: 80px;
}

.container-experiences1,
.container-experiences2 {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 10px;
}

.experience {
    text-align: center;
}
.experience > img {
   width: 70px;
   height: 80px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border: 1px solid #0c0c0c;
    margin-top: 10px;
    border-radius: 100px;
}

.progress-bar::-webkit-progress-value {
   background-color: #c49797;
   border-radius: 100px;
}

progress::-webkit-progress-bar {
   background-color: #ecdcdc; /* Color de fondo del progress*/
   border-radius: 100px; /*Borde redondeado */
}

.footer {
    background-color:#af8484; 
    color: #FFFFFF; 
    text-align: center;  
    width: 100%;
    height: 50px;
    padding: 30px;
    margin-top: 1px; 
}

hr {
    border: none;
    height: 2px;
    background-color: #0a0a0a;
    box-shadow: 0 2px 4px #301f1f; 
    width: 100%;
    margin: 0 auto; 
}

@media screen and (min-width: 480px) and (max-width: 932px) {
    header {    
      width: 100vw;
    }
  
    main {
      width: 100vw;
    }
  
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .projects > .project-info {
      width: 20rem;
    }
}
